@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");



body { margin: 20px; }
.person img { width: 100%; height: auto; border-radius: 50%; }
.person h3 { margin-top: 15px; font-size: 1.5em; }
.person p.position { font-style: italic; color: #888; margin-bottom: 10px; }
.person p { color: #555; }
.section-heading span { color: #6c757d; font-size: 1.2em; }
.section-heading h2 { font-size: 2.5em; margin-bottom: 20px; }
.site-section { padding: 60px 0; }

/* Base */
.section-heading .subheading {
  color: #ababab;
  font-size: 1.2rem;
}

.section-heading .heading {
  color: #c83660;
  font-size: 2.5rem;
  font-weight: 900;
}

.person img {
  max-width: 100px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.person .position {
  color: #ccc;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.person h3 {
  font-size: 18px;
  font-weight: bold;
}

.person p {
  font-size: 15px;
}
